@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "EuclidCircular";
    src: url("../src/assets/fonts/Euclid Circular A Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Arial";
    src: url("../src/assets/fonts/ARIAL.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }